body{
  margin: 0;
  padding: 0;
}

.banner-image{
    background-image: url(steam-rocks.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
   color: #670000;
   position: absolute;
   text-align: center;
   top: 30px;
   width: 100%;
   font-size: 5rem
}

.navigation{
    text-align: right;
    font-size: 25px;
    background-color: #670000;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

a{
    color: rgb(245, 210, 165);
}